# Copier ce fichier en scripts/.env.migrate et remplir les valeurs
# Ne JAMAIS commiter scripts/.env.migrate

GOOGLE_SERVICE_ACCOUNT_JSON='{"type":"service_account",...}'
GOOGLE_DRIVE_FOLDER_ID=ton_folder_id
BUNNY_LIBRARY_ID=656728
BUNNY_API_KEY=ta_nouvelle_cle_api_bunny
